doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    body
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Project name
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        each tab, i in ['Home', 'About', 'Contact']
                            //
                            mixin renderEachTab(tab, classActive)
                                if tab === 'Home'
                                    li(class="#{classActive}")
                                        a(href='/') #{tab}
                                else
                                    li(class="#{classActive}")
                                        a(href='/#{tab.toLowerCase()}') #{tab}
                            //
                            if tab == title
                                +renderEachTab(tab, 'active')
                            else
                                +renderEachTab(tab, '')

                    form.navbar-form.navbar-right
                        .form-group
                            input.form-control(type='text', placeholder='Email')
                        .form-group
                            input.form-control(type='password', placeholder='Password')
                        button.btn.btn-success(type='submit') Sign in
        block content
        hr
        footer
            p © 2016 Company, Inc.

        //scripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')


